<div class="show-tickets ticket-row ticket-header">
  <div class="ticket-col-1">
    ID
  </div>

  <div class="ticket-col-2">
    Name
  </div>

  <div class="ticket-col-4">
    Agent
  </div>

  <div class="ticket-col-4">
    Admin
  </div>

  <div class="ticket-col-4">
    Tickets Created
  </div>

  <div class="ticket-col-5">
    Assigned Tickets
  </div>

  <div class="ticket-col-5">
    Tickets Assigned(Open)
  </div>

  <div class="ticket-col-6">
    Tickets Assigned(Closed)
  </div>

  <div class="ticket-col-6">
    Actions
  </div>
</div>

<div class='show-tickets'>
  <% @users.each do |user| %>
    <% element_id = "#{user.name}-#{user.id}" %>
    <%= form_with url: profile_path(user), class: 'form-inline ticket-display' do |f| %>
      <div class="ticket-row " id="<%= user.name %>-<%= user.id %>">
        <div class="ticket-col-1"><%= user.id %></div>
        <div class="ticket-col-2"><%= link_to user.name.capitalize, profile_path(user), class: 'user-name', id: element_id %></div>
        <div class="ticket-col-4"><%= f.select :agent, options_for_select([[true, true], [false, false]], selected: (user.agent)), {}, { class: "form-control", id: "agent-#{element_id}" } %></div>
        <div class="ticket-col-4"><%= f.select :admin, options_for_select([[true, true], [false, false]], selected: (user.admin)), {}, { class: "form-control", id: "admin-#{element_id}" } %></div>
        <div class="ticket-col-5"><%= user.tickets.size %></div>
        <div class='ticket-col-4'><%= Ticket.assigned_tickets(user.id).size %></div>
        <div class='ticket-col-6'><%= Ticket.assigned_open_tickets(user.id).size %></div>
        <div class='ticket-col-5'><%= Ticket.assigned_closed_tickets(user.id).size %></div>

        <div class='actions ticket-col-6'>
          <%= f.submit 'Update', class: "btn btn-success update-user", id: "update-#{element_id}" %>
          <%= link_to 'Delete', profile_path(user), method: :delete, :data => { :confirm => "This would delete #{user.name.upcase}'s account along with the associated tickets and comments permanently" }, class: "btn btn-danger delete-account", id: "delete-#{element_id}" %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
