<% if @error_messages %>
  <div><%= pluralize(@error_messages.count, "error") %> prohibited this Ticket from being sent:</div>
    <ul>
      <% @error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Tickets </h3>
<div class="create-tickets"> <%= link_to  "Create Ticket", new_ticket_path %> </div>

<table class="table table-hover available-tickets">
  <thead>
    <tr>
      <th class="ticket-id" >ID</th>
      <th>Title</th>
      <th>Created</th>
      <th>Last Activity</th>
      <th class="number-of-comments"><%= admin_display('Comments') %></th>
      <th> Priority </th>
      <th>Status</th>
      <th>Assigned To</th>
       <% if admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= link_to  ticket.title, ticket %></td>
        <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
        <td><%= time_ago_in_words(ticket.updated_at) %> ago</td>
        <td class='message-count'><%= admin_display(ticket.comments.count) %></td>
        <td><%= ticket.priority.capitalize %></td>

        <%= ticket_assign(ticket) %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @tickets.size < 1 %>
  <div class="tickets-not-available">
    You haven't created a ticket yet
  </div>
<% end %>
