<% if @error_messages %>
  <div><%= pluralize(@error_messages.count, "error") %> prohibited this Ticket from being sent:</div>
    <ul>
      <% @error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Tickets </h3>
<div class="create-tickets"> <%= link_to  "Create Ticket", new_ticket_path %> </div>

<table class="table table-hover available-tickets">
  <thead>
    <tr>
      <th>SLA</th>
      <th>ID</th>
      <th>Title</th>
      <th>Created</th>
      <th>Last Activity</th>
      <th><%= admin_display('Comments') %></th>
      <th> Priority </th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <th>RED</th>
        <th><%= ticket.id %></th>
        <th><%= link_to  ticket.title, ticket %></th>
        <th><%= time_ago_in_words(ticket.created_at) %> ago</th>
        <th><%= time_ago_in_words(ticket.updated_at) %> ago</th>
        <th class='message-count'><%= admin_display(ticket.comments.count) %></th>
        <th><%= ticket.priority.capitalize %></th>
        <th><%= ticket.status.humanize %></th>

        <th><%= ticket_assign(ticket) %></th>
        <th><%= link_to  "Delete", ticket_path(ticket), method: :delete	, class: "btn btn-danger", :data => { :confirm => "This would delete ticket ID #{ticket.id} permanently" } %> </th>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @tickets.size < 1 %>
  <div class="tickets-not-available">
    You haven't created a ticket yet
  </div>
<% end %>
